services:
  app:
    build: .
    container_name: kudiapp-app
    ports:
      - "8080:8080"
    environment:
      # Database configuration (AWS RDS)
      SPRING_DATASOURCE_URL: jdbc:postgresql://${RDS_HOSTNAME}:${RDS_PORT}/${SPRING_DATASOURCE_DBNAME}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
      SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT: ${SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT}
      SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE: ${SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE}

      # JWT configuration
      APP_JWT_SECRET: ${APP_JWT_SECRET}
      APP_JWT_EXPIRATION_MS: ${APP_JWT_EXPIRATION_MS}
      APP_JWT_REFRESH_EXPIRATION_MS: ${APP_JWT_REFRESH_EXPIRATION_MS}

      # Management endpoints configuration
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: ${MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE}
      MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: ${MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS}
      MANAGEMENT_ENDPOINT_HEALTH_ACCESS: ${MANAGEMENT_ENDPOINT_HEALTH_ACCESS}
      MANAGEMENT_ENDPOINT_INFO_ACCESS: ${MANAGEMENT_ENDPOINT_INFO_ACCESS}

      # Cloudinary configuration
      CLOUDINARY_CONFIG_NAME: ${CLOUDINARY_CONFIG_NAME}
      CLOUDINARY_CONFIG_API_KEY: ${CLOUDINARY_CONFIG_API_KEY}
      CLOUDINARY_CONFIG_SECRET: ${CLOUDINARY_CONFIG_SECRET}

      # Email configuration
      SPRING_MAIL_HOST: ${SPRING_MAIL_HOST}
      SPRING_MAIL_PORT: ${SPRING_MAIL_PORT}
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      SPRING_MAIL_SMTP_AUTH: ${SPRING_MAIL_SMTP_AUTH}
      SPRING_MAIL_STARTTLS_ENABLE: ${SPRING_MAIL_STARTTLS_ENABLE}
      SPRING_MAIL_SSL_TRUST: ${SPRING_MAIL_SSL_TRUST}

    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/actuator/health"]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
